



.containerMain {
  width: 400px;
  background-color: rgb(253, 244, 166);
  margin: 10px auto;
  text-align: center;
  padding: 15px;
  border: 1px solid black;

}



.container {
  margin: 15px auto;
}




form > input {
  width: 300px;
  height: 16px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}



.checkbox {
  background-color: transparent;
  display: hidden;
  border: none;
  font-family: 'Julius Sans One', sans-serif;
  padding: 0px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.checkbox:hover {
  color: red;
  font-family: 'Julius Sans One', sans-serif;
  padding: 0px;
  font-size: 20px;
}


.completed {
  text-decoration: line-through;
  color: #ccc;
  list-style: none;
  font-size: 24px;
}


.pending {
  color: red;
  list-style: none;
  font-size: 24px;
}




li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-collapse: collapse;
  margin: -1px 0px 0px 0px;
}



.bottomBar {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: red;
}

.buttonLink {
  background-color: transparent;
  display: hidden;
  border: none;
  font-family: 'Julius Sans One', sans-serif;
  padding: 0px;
  font-size: 12px;
}

.buttonLink:hover {
  color: red;
}

